<head>
  <%= stylesheet_link_tag 'application' %>
</head>

<!--FUNCTION FOR RESIZING IMAGES -->
<script>
  function adjustImageSize(image, size) {
    if (image.style.width === size) {
      image.style.width = ""; // Revert to original size
      image.style.height = ""; // Revert to original size
    } else {
      image.style.width = size;
      image.style.height = "auto"; // Adjust height proportionately
    }
  }
</script>

<!-- LOGGED IN / SIGN IN / SIGN UP / BLOCKED SOURCES SECTION -->
<% if signed_in? %>
  <p>Logged in as: <%= current_user.email %></p>
  <%= button_to "Sign Out", sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', sign_in_path %>
  <%= link_to 'Sign Up', sign_up_path %>
<% end %>

<h2>Blocked Sources</h2>
<%= form_tag update_blocked_sources_path, method: :post do %>
  <% @sources.each do |source| %>
    <label>
      <%= check_box_tag "blocked_sources[]", source, current_user.source_blocked?(source) %>
      <%= source %>
    </label>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "Save" %>
<% end %>

<!-- COLUMNS -->
<div id="col-container">
  <div id="far-left-col">
    <h2 class="lean">Left</h2>
    <%= render_article_list(@theintercept_items, 'theintercept') %>
    <%= render_article_list(@democracynow_items, 'democracynow') %>
    <%= render_article_list(@dailybeast_items, 'dailybeast') %>
    <%= render_article_list(@newyorker_items, 'newyorker') %>
  </div>

  <div id="left-col">
    <h2 class="lean">Center-Left</h2>
    <%= render_article_list(@nyt_items, 'nyt') %>
    <%= render_article_list(@axios_items, 'axios') %>
  </div>

  <div id="center-col">
    <h2 class="lean">Center</h2>
    <%= render_article_list(@thehill_items, 'thehill') %>
    <%= render_article_list(@reuters_items, 'reuters') %>
  </div>

  <div id="right-col">
    <h2 class="lean">Center-Right</h2>
    <%= render_article_list(@foxbusiness_items, 'foxbusiness') %>
    <%= render_article_list(@thedispatch_items, 'thedispatch') %>
  </div>

  <div id="far-right-col">
    <h2 class="lean">Right</h2>
    <%= render_article_list(@epochtimes_items, 'epochtimes') %>
    <%= render_article_list(@dailymail_items, 'dailymail') %>
    <%= render_article_list(@infowars_items, 'infowars') %>
  </div>
</div>

