<% if signed_in? %>
  <p>Logged in as: <%= current_user.email %></p>
  <%= button_to "Sign Out", sign_out_path, method: :delete %>

<% else %>
  <%= link_to 'Sign In', sign_in_path %>
  <%= link_to 'Sign Up', sign_up_path %>
<% end %>

<!-- Rest of the HTML content -->

<h2>The Hill Items</h2>
<ul>
  <% @thehill_items.each do |item| %>
    <li>
      <h3><%= item[:title] %></h3>
      <img src="<%= item[:image_url] %>" alt="Image">
      <p><%= item[:description] %></p>
      <p>Published: <%= item[:pub_date] %></p>
      <a href="<%= item[:link] %>">Read More</a>
    </li>
  <% end %>
</ul>

<h2>Fox Business</h2>
<ul>
  <% @foxbusiness_items.each do |item| %>
    <li>
      <h3><%= item[:title] %></h3>
      <img src="<%= item[:image_url] %>" alt="Image">
      <p><%= item[:description] %></p>
      <p>Published: <%= item[:pub_date] %></p>
      <a href="<%= item[:link] %>">Read More</a>
    </li>
  <% end %>
</ul>
